<form method="post">
	<div>
		<div>
			<input type="text" placeholder="Id" class="form-control input" ng-model="$parent.employee_id">
		</div>
		<div>
			<input type="text" placeholder="Name" class="form-control input" ng-model="$parent.name">
		</div>
		<div>
			<input type="text" placeholder="Last Name" class="form-control input" ng-model="$parent.last_name">
		</div>
		<div>
			<input type="text" placeholder="Rfc" class="form-control input" ng-model="$parent.rfc">
		</div>
		<div>
			<input type="text" placeholder="Gender" class="form-control input" ng-model="$parent.gender">
		</div>
		<div>
			<input type="text" placeholder="Birthday" class="form-control input" ng-model="$parent.birthday ">
		</div>
		<div>
			<input type="tel" placeholder="Phone Number" class="form-control input" ng-model="$parent.phone_number">
		</div>
		<div>
			<input type="email" placeholder="Email" class="form-control input" ng-model="$parent.email">
		</div>
		<div>
			<input type="text" placeholder="Employment" class="form-control input" ng-model="$parent.employment">
		</div>
		<div>
			<input type="text" placeholder="Hire Date" class="form-control input" ng-model="$parent.hire_date ">
		</div>
		<div>
			<input type="text" placeholder="Salary" class="form-control input" ng-model="$parent.salary">
		</div>
	</div>
</form>