<div>
	<div class="tableContainer">
		<table class="table table-bordered table-hover" id="myTable">
			<thead> 
				<tr>
					<th class="tableHead">Clave</th>
					<th class="tableHead">Grupo</th>
					<th class="tableHead">Nombre</th>
					<th class="tableHead">Horario</th>
					<th class="tableHead">Profesor</th>
					<th class="tableHead">Salón</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-repeat="subject in subjects">
					<td ng-show=false ng-model="row_subject_id">{{subject.id}}</td>
					<td>{{subject.subject_key}}</td>
					<td>{{subject.subject_group}}</td>
					<td>{{subject.subject_name}}</td>
					<td>{{subject.schedule}}</td>
					<td>{{subject.teacher}}</td>
					<td>{{subject.classroom}}</td>
				</tr>
			</tbody> 
		</table>
	</div>
</div>

